/* header Block*/
.header{
  text-align: center;
  background: #C0392B;
  text-shadow: 1px 1px 2px;
  font-family: 'Open Sans', sans-serif;
  font-size: 32px;
}

.header--title{
  color: #ffffff;  
}
.header--title-bg-white{
  padding: 5px;
  background: #ffffff;
  color: #C0392B;
}
/*************/
/* Serie Block*/
.serie{
  text-align: center;
}

.serie--title{ 
  font-family: 'Open Sans', sans-serif;
  font-size: 28px;
}

.serie--genre{
  color: #A9A4A4;  
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  display: block;
}

.serie--image{
  display: inline;
  max-width: 328px;
}
.serie--redmore{
  display: block;
  font-family: 'Roboto', sans-serif;
  color: #ffffff;
  background-color: #C0392B;
  text-decoration: none;
}
.serie--redmore:hover{
  background-color: #E74C3C;
}
/*************/
/* Footer Block*/
.footer{
  text-align: center;
  color: #C0392B;
  font-family: 'Roboto', sans-serif;
  background-color: #eeeeee;
}

.footer--image{
  width: 25px;
  height: 25px;
}
